## 内推将如何帮助你

微软的招聘和面试的一个主要文化是尽量发现候选人的优点将优秀的人才带到公司里面来，相对于指出候选人的缺点，我们面试官最担心的是不能发现候选人的优点.

相应的，我正在进行一个项目，帮助大家在微软面试过程中如何更好地表现，包括:

* 如何在微软找到适合己的职位, 如何读懂JD并从中发掘更多信息.JD都要花费一两个小时的书写并且请几个人帮忙看 (至少我是这样的)，这里面有很多的信息, 一定要确保你读过并读懂了.
* 如何针对每个职位甚至JD调整自己的简历: 一个简历投递所有职位是投递简历的大忌!
* 介绍微软的面试的流程, 如何有效地准备微软的面试? (是的面试多一些时间的准备是值得的，我们面试官每次面试结束都需要1个小时的时间来写面试报告，我看过很多写一页甚至两页的面试报告,国外的面试官写的更多)
* 如何在面试过程中和面试官有效的沟通? 如何避免冷场，如何引导面试官往自己的长处的地方?遇到自己不会的问题、没遇到过的场景怎么办
* 甚至包括网上收集的微软历来的面试题目（当然不能包含目前正在使用的面试题 ^_^）, 甚至包含一些我觉得网上写得不错的候选人面经(当然会保留出处)
* 微软我认为不错的福利、职业成长相关的东西，甚至也有很多人关心的微软内部如何转岗，如何从中国跳到日本欧洲美国等其他地区研发中心的信息(是的机会非常多)


具体的交付物是一个微软内推网站：<br>
<a href="http://microsoft-hire.me">http://microsoft-hire.me</a> 微软内推,你需要的都在这里!

这是一个长期项目, 欢迎大家过来浏览查看，有问题也请随时提问(也可以用 Github 提 Issue)，方便我们后续迭代改进, 本项目的 Github 地址为：
[https://github.com/Microsoft-Hiring/microsoft-hiring.github.io/issues](https://github.com/Microsoft-Hiring/microsoft-hiring.github.io/issues)

如果大家通过我内推，我觉得你匹配这个职位，我也会针对各个职位的特点和你沟通具体的情况，希望能够帮助到你，帮助公司招募到优秀的员工。
