## 如何申请和内推

我是 Rick，微软中国的一个 Engineer Manager, 在过去的招聘中一直有很多遗憾: 很多不错的候选人，对面试明显缺乏准备或者不知道怎么准备，不知道怎么和面试官有效沟通，导致面试官经常要费心思去诱导/发现候选人的优点，遗憾地错失了微软的工作机会，既为候选人错失工作机会而感慨，也为公司错失优秀的员工而遗憾。

一直想为这个做点什么，正好近期微软中国包括我自己的团队和部门都有大量扩编招聘的需求，也趁着新冠肺炎疫情在家工作，就做了这个项目 **microsoft-hire.me**，我将帮助你了解:

1. 为什么微软是一个不错的选择？老司机怎么说
2. 如何找到你的喜欢的微软职位并获得内推？
3. 微软的招聘流程以及你应该如何准备面试？
4. 一些经常被问到的资料比如: 微软员工职级介绍，公开的面试题，公开的面经分享等等
5. 如何有效和面试官沟通在面试过程中有一个好的表现获得加分？ 
6. **帮助优秀的候选人直达招聘经理, 免除进入 HR 简历筛选队列长时间排队等待**, 帮助公司有一个友好的招聘面试体验。

本项目的地址是:
* 网站：<a href="http://microsoft-hire.me">http://microsoft-hire.me 微软内推,你需要的都在这里!</a>
* Github代码: <a href="https://github.com/Microsoft-Hiring/microsoft-hiring.github.io">https://github.com/Microsoft-Hiring</a>

作为一个长期的项目, 我将和 HR/各位面试官和招聘经理保持沟通, 持续更新迭代内容，以使内容保持更新, 能够切实帮助到大家。

如果遇到中意的职位或者有任何疑问，欢迎邮件联系我（因为这个是服务候选人朋友的所以请猎头朋友们不要找我）：

``` 
Subject: <你的中文名> 应聘 <职位名称>
To：srehiring@microsoft.com

邮件内容：
* 请附上职位 JD 的链接 (重要：URL中含有数字串) 
* 请附上英文简历
``` 

具体情况我们到时候沟通，我一般一两天之类会回复大家的邮件，对于技术类的职位，如果能够附上你们的个人博客、github账号链接、linkedin 链接等等会非常有帮助。